.container {
  padding: 1.5rem;
  color: var(--white);
  background-color: var(--background);
}

.barbersShopList {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;

  margin: 3rem 0;
}

.card {
  display: flex;
	flex-direction: column;
	gap: 0.5rem;
  padding: 1rem 1.5rem;
  background-color: var(--light-grey);
  border-bottom: 2px solid var(--orange);
  flex: 1;
}

.name {
	color: var(--white);
}

.address {
	color: var(--grey);
}

@media screen and (min-width: 768px) {
  .barbersShopList {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  .barbersShopList {
    grid-template-columns: repeat(3, 1fr);
  }
}